/* Variables globales del proyecto */

$font-family: 'Nunito', sans-serif;
$color-text: #333;
$color-primary: #5e35b1;
$color-primary-dark: #4527a0;
$color-dark-bg: #343a40;
$color-white: #fff;
$color-black: #000;